@font-face {
    font-family: 'AirbnbCerealApp';
    src: url('../fonts/AirbnbCereal-Medium.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AirbnbCerealApp' !important;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.navbar img {
    width: 25px;
    height: 25px;
}

.menu {
    cursor: pointer;
}

.title h4 {
    font-size: 23px;
    margin-bottom: 0;
}

.left-content {
    background-color: #fff;
    padding-top: 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.left-menu img {
    width: 40px;
    height: 40px;
}

.fork, .clipboard, .add {
    padding-bottom: 50px;
}

.ic-cart {
    display: none;
}

.box {
    width: 500px;
    height: 170px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 30px;
}

.box-1 {
    background: linear-gradient(278.29deg, #FBB2B4 30.05%, rgba(255, 143, 178, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
}

.box-2 {
    background: linear-gradient(278.29deg, #29DFFF 30.05%, rgba(41, 223, 255, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
}

.box-3 {
    background: linear-gradient(278.29deg, #AB84C8 30.05%, rgba(241, 201, 236, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
}

.box-content {
    position: relative;
    z-index: 3;
}

.box-content-title {
    padding-top: 40px;
    margin-bottom: 0;
    font-size: 15px;
}

.box-content-value {
    font-size: 25px;
}

.box-content-percent {
    font-size: 15px;
}

.month {
    display: flex;
    height: 20px;
    width: 70px;
    text-align: center;
    font-size: 12px;
    background: #CECECE;
    border-radius: 10px;
}

.month-wrapper {
    padding-top: 20px;
}

.month p {
    padding-top: 1px;
    padding-left: 8px;
}

.month img {
    width: 9px;
    height: 10px;
}

.revenue {
    font-size: 25px;
    padding-top: 13px;
    padding-bottom: 30px;
}

.charts {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
}

.ch-revenue {
    display: flex;
    justify-content: space-between;
}

.ch-order {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.recent {
    font-size: 25px;
    padding-top: 13px;
}

.day-wrapper {
    padding-top: 20px;
}

.today p {
    padding-top: 1px;
    padding-left: 8px;
}

.today {
    display: flex;
    height: 20px;
    width: 70px;
    text-align: left;
    font-size: 12px;
    background: #CECECE;
    border-radius: 10px;
}

.today img {
    width: 9px;
    height: 10px;
}

.table td {
    color: #CECECE;
}

.table th {
    font-size: 15px;
}

.order-table {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.drop-img {
    padding-left: 6px;
}

.circle {
    position: absolute;
    margin-left: 150px;
    margin-top: 10px;
    z-index: 0;
    opacity: 0.8;
}

.circle img {
    width: 130px;
    height: 100px;
}

@media only screen and (max-width: 992px){
    .title {
        padding: 0;
    }

    .left-content {
        padding-top: 10px;
    }

    .fork, .clipboard, .add {
        padding-bottom: 10px;
    }

    .left-menu img {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .left-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left-content {
        display: none;
        margin-bottom: 0;
    }

    .fork, .clipboard, .add {
        padding-bottom: 10px;
    }

    .left-content {
        padding-top: 10px;
    }

    .left-menu img {
        width: 30px;
        height: 30px;
    }

    .charts {
        margin-left: 0;
    }

    .order-table {
        margin-left: 0;
    }

    .box {
        width: 300px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .left-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left-content {
        display: none;
        margin-bottom: 0;
    }

    .fork, .clipboard, .add {
        padding-bottom: 10px;
    }

    .left-content {
        padding-top: 10px;
    }

    .left-menu img {
        width: 30px;
        height: 30px;
    }
}